@import "bootstrap-sprockets";
@import "bootstrap";

	.container {
	  max-width: 960px;
	}

	/*
	 * Custom translucent site header
	 */

	.site-header {
	  background-color: rgba(0, 0, 0, .85);
	  -webkit-backdrop-filter: saturate(180%) blur(20px);
	  backdrop-filter: saturate(180%) blur(20px);
	}
	.site-header a {
	  color: #999;
	  transition: ease-in-out color .15s;
	}
	.site-header a:hover {
	  color: #fff;
	  text-decoration: none;
	}

	/*
	 * Dummy devices (replace them with your own or something else entirely!)
	 */

	.product-device {
	  position: absolute;
	  right: 10%;
	  bottom: -30%;
	  width: 300px;
	  height: 540px;
	  background-color: #333;
	  border-radius: 21px;
	  -webkit-transform: rotate(30deg);
	  transform: rotate(30deg);
	}

	.product-device::before {
	  position: absolute;
	  top: 10%;
	  right: 10px;
	  bottom: 10%;
	  left: 10px;
	  content: "";
	  background-color: rgba(255, 255, 255, .1);
	  border-radius: 5px;
	}

	.product-device-2 {
	  top: -25%;
	  right: auto;
	  bottom: 0;
	  left: 5%;
	  background-color: #e5e5e5;
	}


	/*
	 * Extra utilities
	 */

	.flex-equal > * {
	  -ms-flex: 1;
	  flex: 1;
	}
	@media (min-width: 768px) {
	  .flex-md-equal > * {
	    -ms-flex: 1;
	    flex: 1;
	  }
	}

	.overflow-hidden { overflow: hidden; }
	$gray-medium-light: #eaeaea;
	@mixin box_sizing {
		-moz-box-sizing:
		border-box;
		-webkit-box-sizing: border-box;
		box-sizing:
		border-box;
	}
	/* miscellaneous */
	.debug_dump {
		clear: both;
		float: left;
		width: 100%;
		margin-top: 45px;
		@include box_sizing;
	}

	 /* forms */
	input, textarea, select, .uneditable-input {
		border: 1px solid #bbb;
		width: 100%;
		margin-bottom: 15px;
		@include box_sizing;
	}
	input {
		height: auto !important;
	}
	.center {
	  margin: auto;
	  width: 50%;
	  padding: 10px;
	}
	.center-1 {
	  margin: auto;
	  width: 100%;
	  padding: 10px;
	}
	#error_explanation {
		color: red;
		ul {
			color: red;
			margin: 0 0 30px 0;
		}
	}
	.field_with_errors {
		@extend .has-error;
		.form-control {
		 color: $state-danger-text;
		}
	}
	/* sidebar */
	aside {
		section.user_info {
			margin-top: 20px;
			margin-left: 10rem;
		}
		section {
		padding: 10px 0;
		margin-top: 20px;
			&:first-child {
			border: 0;
			padding-top: 0;
			}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
			}
		}
	}
	.vta{
		margin-left: 10rem;
		margin-top: 3rem;
	}
	.gravatar {
	float: left;
	margin-right: 10px;
	}
	.gravatar_edit {
	margin-top: 15px;
	}

	/* add css header*/
	.nav-height{
		height: 50px;
	}
	.nav-margin{
		margin-top: 8px;
		font-size: 15px;
	}

	.stats {
		overflow: auto;
		margin-top: 0;
		padding: 0;
		a {
			float: left;
				padding: 0 10px;
				border-left: 1px solid $gray-lighter;
				color: gray;
			&:first-child {
				padding-left: 0;
				border: 0;
			}
			&:hover {
				text-decoration: none;
				color: blue;
			}
		}
		strong {
		display: block;
		}
	}
	.user_avatars {
		overflow: auto;
		margin-top: 10px;
		.gravatar {
			margin: 1px 1px;
		}
		a {
			padding: 0;
		}
	}
	.users.follow {
		padding: 0;
	}


	/*add css home*/
	.mid{
		float: inherit!important; 
	 }

	 /*add css footer*/
	 .footer-font{
	 	font-size: larger;
	 }
	 .nav-margin1{
	 	margin-top: inherit;
	 }

	 /* forms */

	.checkbox {
		margin-top: -10px;
		margin-bottom: 10px;
		span {
			margin-left: 20px;
			font-weight: normal;
		}
	}
	#session_remember_me {
		width: auto;
		margin-left: 0;
	}

/* Users index */
	.users {
	list-style: none;
		margin: 0;
		li {
			overflow: auto;
			padding: 10px 0;
			border-bottom: 1px solid $gray-lighter;
		}
	}
	/* microposts */
.microposts {
	list-style: none;
	padding: 0;
	li {
	padding: 10px 0;
	border-top: 1px solid #e8e8e8;
	}
	.user {
		margin-top: 5em;
		padding-top: 0;
	}
	.content {
		display: block;
		margin-left: 60px;
		img {
			display: block;
			padding: 5px 0;
		}
	}
	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 60px;
	}
	.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
		}
}
aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}
span.image {
	margin-top: 10px;
	input {
		border: 0;
	}
}